<?xml version="1.0"?>
<!DOCTYPE config SYSTEM "dtd/config.dtd" [
  <!ENTITY % common SYSTEM "dtd/common.dtd">
  %common;
  <!ENTITY % constraint SYSTEM "dtd/constraint.dtd">
  %constraint;
  <!ENTITY % armors SYSTEM "dtd/armors.dtd">
  %armors;
  <!ENTITY % maps SYSTEM "dtd/maps.dtd">
  %maps;
  <!ENTITY % weapons SYSTEM "dtd/weapons.dtd">
  %weapons;
]>

<!-- $Id$ -->
<!-- this is the top level config that includes all the sub-config files -->
<config>
  <xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="armors.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="maps.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="weapons.xml"/>
</config>
